<p>Matterial Buttons we have seven type of buttons<br/>
    <br/>

1) at-button	Rectangular text button w/ no elevation<br/>
2) mat-raised-button	Rectangular contained button w/ elevation<br/>
3) mat-flat-button	Rectangular contained button w/ no elevation<br/>
4) mat-stroked-button	Rectangular outlined button w/ no elevation<br/>
5) mat-icon-button	Circular button with a transparent background, meant to contain an icon<br/>
6) mat-fab	Circular button w/ elevation, defaults to theme's accent color<br/>
7) mat-mini-fab	Same as mat-fab but smaller
</p>
<br/>
<button mat-raised-button>Welcome</button>

<br/>
<p>typography angular material</p>
<div class="mat-display-4">This is display four</div>
<div class="mat-display-3">This is display four</div>
<div class="mat-display-2">This is display four</div>
<div class="mat-display-1">This is display four</div>

<div class="mat-heading">This is display four</div>
<div class="mat-title">This is display four</div>
<div class="mat-subheading">This is display four</div>
<div class="mat-subheading-1">This is display four</div>


<div class="mat-body-1">This is body text</div>
<div class="mat-body-2">This is bold body text</div>
<div class="mat-caption">This is caption text</div>

<div class="mat-typography">
    <h1>Himanshi</h1>
    <h2>Ashish</h2>
    <h3>Silky</h3>
    <h4>Ashu</h4>
</div>

<div>
        <div class="mat-display-3">Material Buttons<br/> <br/><br/>
    <button mat-button>mat button</button><br/><br/>
    <button mat-raised-button>raised button</button><br/><br/>
    <button mat-flat-button>flat button</button><br/><br/>
    <button mat-stroked-button>stroked button</button><br/><br/>
    <button mat-icon-buttonn>icon button</button><br/><br/>
    <button mat-fab>fab</button><br/><br/>
    <button mat-mini-fab>Mini fab</button><br/><br/>
</div>
<div class="mat-display-3">Material Buttons Colors <br/><br/>
<button color="primary" mat-flat-button>mat button</button><br/><br/>
<button color="accent" mat-stroked-button>raised button</button><br/><br/>
<button color="warn"  mat-button>raised button</button><br/><br/>
</div>

<div class="mat-display-3">Toggle Button Example <br/><br/></div>
<mat-button-toggle #toggleBtn checked>Toggle</mat-button-toggle>
{{toggleBtn.checked}}










